@model FBIApplication.Models.Result

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ParticipationModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResultId" />

            <div class="form-group">
                <label asp-for="data_year" class="control-label"></label>
                <input asp-for="data_year" class="form-control" />
                <span asp-validation-for="data_year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="population" class="control-label"></label>
                <input asp-for="population" class="form-control" />
                <span asp-validation-for="population" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total_agency_count" class="control-label"></label>
                <input asp-for="total_agency_count" class="form-control" />
                <span asp-validation-for="total_agency_count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="active_agency_count" class="control-label"></label>
                <input asp-for="active_agency_count" class="form-control" />
                <span asp-validation-for="active_agency_count" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
