@model FBIApplication.Models.PoliceModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PoliceModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="data_year" class="control-label"></label>
                <input asp-for="data_year" class="form-control" />
                <span asp-validation-for="data_year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="population" class="control-label"></label>
                <input asp-for="population" class="form-control" />
                <span asp-validation-for="population" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="officer_count" class="control-label"></label>
                <input asp-for="officer_count" class="form-control" />
                <span asp-validation-for="officer_count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="officer_rate_per_1000" class="control-label"></label>
                <input asp-for="officer_rate_per_1000" class="form-control" />
                <span asp-validation-for="officer_rate_per_1000" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
