@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="TableStyle.css">
</head>
<h1> my html</h1>
<div>
    <ul>

        <li>Hi Hellow</li>
        <button>Heellow</button>
    </ul>
</div>

<div class="styled-table">
<table class="styled-table">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>

</table>

</div> -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="js/Chart.min.js"></script>
    <link rel="stylesheet" href="MainPage.css">
    <style>
                h2 {
                    outline-style: hidden;
                    outline-color: #92a8d1;
                    text-decoration-color: linen;
                }
                /* body,html{
          padding:0;
          margin:10px;
          background:#fcc;
        } */
                table {
                    border-spacing: 0px;
                }

                h {
                    border: 2px solid powderblue;
                    padding: 30px;
                }

                table {
                    width: 100%;
                }

                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }

                th, td {
                    padding: 15px;
                    text-align: center;
                }

                #t01 tr:nth-child(even) {
                    background-color: #eee;
                }

                #t01 tr:nth-child(odd) {
                    background-color: #fff;
                }

                #t01 th {
                    background-color: black;
                    color: white;
                }

                body {
                    background-image: url('https://www.sciencenewsforstudents.org/wp-content/uploads/2019/11/860_main_crime_by_the_numbers_0.png');
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-size: cover;
                }
    </style>
</head>
<body>
    <div class="">
        <a href="index.html" style="font-size:30px;color:black">Back to Home</a>
    </div>

    <h2 style="text-align: center; color:black; size: 20px;"><strong>SUMMARY REPORTING SYSTEM[SRS]</strong> </h2>


    <table id="t01" class="table table-hover" style="opacity: 0.8;">
        <caption style="text-decoration:solid;color: lavenderblush;"><strong> summary Reporting System (SRS)</strong></caption>
        <tr>
            <th>year</th>
            <th>population</th>
            <th>violent_crime</th>
            <th>homicide</th>
            <th>rape_legacy</th>
            <th>robbery</th>
            <th>aggravated_assault</th>
            <th>property_crime</th>
            <th>burglary</th>
            <th>larceny</th>
            <th>motor_vehicle_theft</th>
        </tr>
        <tr>
            <td>2015</td>
            <td>262803276</td>
            <td>1798792</td>
            <td>21606</td>
            <td>97470</td>
            <td>580509</td>
            <td>1099207</td>
            <td>12063935</td>
            <td>2593784</td>
            <td>7997710</td>
            <td>1472441</td>
        </tr>
        <tr>
            <td>2016</td>
            <td>265228572</td>
            <td>1688540</td>
            <td>19645</td>
            <td>96252</td>
            <td>535594</td>
            <td>1037049</td>
            <td>11805323</td>
            <td>11805323</td>
            <td>7904685</td>
            <td>1394238</td>

        </tr>
        <tr>
            <td>2017</td>
            <td>267783607</td>
            <td>1636099</td>
            <td>18211</td>
            <td>96153</td>
            <td>498534</td>
            <td>1023201</td>
            <td>11558975</td>
            <td>2461026</td>
            <td>7743760</td>
            <td>1354189</td>

        </tr>
        <tr>
            <td>2018</td>
            <td>270248003</td>
            <td>1533887</td>
            <td>16974</td>
            <td>93144</td>
            <td>447186</td>
            <td>976583</td>
            <td>10951827</td>
            <td>2332735</td>
            <td>7376311</td>
            <td>1242781</td>

        </tr>
        <tr>
            <td>2019</td>
            <td>272690813</td>
            <td>1426044</td>
            <td>15522</td>
            <td>89411</td>
            <td>409371</td>
            <td>911740</td>
            <td>10208334</td>
            <td>2100739</td>
            <td>6955520</td>
            <td>1152075</td>

        </tr>
    </table>
    <br>
    <p1 style="color: linen;"><strong> This Data shows the Distribution of the Crimes in the United States and It Segregates the crime into Categories.We can infer that the numbe rof violent crimes shows a decreasing trend as law enforcement agencies are becoming more efficient over the years</strong></p1>

</body>
</html>
